name: APK_Derle
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build APK with Buildozer
        uses: GeorgSchoelly/buildozer-action@v1.2.0
        with:
          buildozer_version: master
          command: buildozer android debug
