name: APK_Uretici_V3
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - name: Buildozer APK Basici
        uses: ArtemSerebrennukov/buildozer-action@v1
        with:
          command: buildozer android debug
          buildozer_version: master
