name: APK_Basici
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build APK
        uses: ArtemSerebrennukov/buildozer-action@v1
        with:
          command: buildozer android debug
